INSERT INTO public.game (id,name,alias,icon,hidden,metadata,created_at) VALUES (87, 'Sunt Veniam', 'NBA2K', 'https://svgshare.com/i/15iw.svg', 'f', DEFAULT, DEFAULT), (88, 'Fugiat', 'NBA2K', 'https://svgshare.com/i/15iw.svg', 't', DEFAULT, DEFAULT);
SELECT setval('"public"."game_id_seq"'::regclass, (SELECT MAX("id") FROM "public"."game"));
INSERT INTO public.plan (id,name,pricing,pricing_interval,is_default,config,created_at,updated_at) VALUES (22, 'Essential', 0, 'monthly', 't', DEFAULT, DEFAULT, DEFAULT), (23, 'Advanced', 15.803108597090716, 'monthly', 'f', DEFAULT, DEFAULT, DEFAULT), (24, 'Pro', 12.111348826482082, 'yearly', 'f', DEFAULT, DEFAULT, DEFAULT);
UPDATE public.team SET plan_id = 22 WHERE id = '7c2c4732-09c1-5f7b-87ca-c53e7497b4ef';
UPDATE public.team SET plan_id = 22 WHERE id = 'f50563b6-8532-51ec-b121-d8c6bca3e897';
UPDATE public.team SET plan_id = 22 WHERE id = 'f1bf295c-195b-5a42-9c6b-5bfa14b58307';
UPDATE public.team SET plan_id = 22 WHERE id = 'e0eebbc8-63c9-5fee-b088-b3310b672c35';
UPDATE public.team SET plan_id = 22 WHERE id = '1c17c04a-19f5-5c48-8b6b-48fe02257ffb';
UPDATE public.team SET plan_id = 22 WHERE id = 'a2996c99-b8bb-5bf6-b789-844e821ceb82';
UPDATE public.team SET plan_id = 22 WHERE id = '5d016028-a6a3-5268-91a3-91021dbfda0a';
UPDATE public.team SET plan_id = 22 WHERE id = 'b279891e-05aa-528b-867b-dd6fe5fa77c8';
UPDATE public.team SET plan_id = 22 WHERE id = 'ff53868f-9940-575d-8fa8-923808f93a53';
UPDATE public.team SET plan_id = 22 WHERE id = '8172203a-00e7-5e0e-919b-2970e0d891df';
UPDATE public.team SET plan_id = 22 WHERE id = '7b5ee10b-959f-565b-9dac-a4bab4f6c6bf';
UPDATE public.team SET plan_id = 23 WHERE id = '5e20f9a8-7b26-5a5f-8426-6b12c182d23c';
UPDATE public.team SET plan_id = 23 WHERE id = '53fe0e9e-3358-5722-b994-4faad8733cd3';
UPDATE public.team SET plan_id = 23 WHERE id = 'e4834379-a7a0-5f41-8193-f598072b1c83';
UPDATE public.team SET plan_id = 23 WHERE id = 'a9f91eda-269f-54d0-83de-05f0c2ecbf08';
UPDATE public.team SET plan_id = 23 WHERE id = 'c0062d28-74ce-56b0-8124-852c5c4cdd1f';
UPDATE public.team SET plan_id = 23 WHERE id = 'a1d779f7-e622-5cd1-b766-eb2b7925b3c0';
UPDATE public.team SET plan_id = 23 WHERE id = 'bd4e2ea6-e7d4-5655-93cc-d1ed71c3483c';
UPDATE public.team SET plan_id = 23 WHERE id = 'fb2f612f-57ab-526e-8b57-f5de07942107';
UPDATE public.team SET plan_id = 23 WHERE id = '38cee772-792e-54fe-ae0f-d62f75f71c11';
UPDATE public.team SET plan_id = 23 WHERE id = '60f279f1-b04c-57b1-b6aa-b71a8811c6ab';
UPDATE public.team SET plan_id = 23 WHERE id = 'b5d35d7e-f19e-568e-9efe-911f779c892f';
UPDATE public.team SET plan_id = 23 WHERE id = '3db3509a-5565-5145-aa2d-eb656db639a3';
UPDATE public.team SET plan_id = 23 WHERE id = '16b2ddd9-4627-52fa-8115-8453cfa39374';
UPDATE public.team SET plan_id = 23 WHERE id = '235fae27-2669-539e-8784-3dcbaac570cc';
UPDATE public.team SET plan_id = 23 WHERE id = '85a272fe-9de3-5543-919e-647cccb82b15';
UPDATE public.team SET plan_id = 23 WHERE id = '0ff7c90f-7522-5b63-9234-348cf37ff0b7';
UPDATE public.team SET plan_id = 23 WHERE id = '350ffb75-0a57-59e5-a5c9-179e6696dca6';
UPDATE public.team SET plan_id = 23 WHERE id = '8f618935-0709-51d9-a788-ed5bf31c7cb5';
UPDATE public.team SET plan_id = 24 WHERE id = '782f7eda-e535-5ab3-8415-643126d3b0fa';
UPDATE public.team SET plan_id = 24 WHERE id = '5daf6f25-3b97-5f49-8f75-4ba5d1d74cd3';
UPDATE public.team SET plan_id = 24 WHERE id = '3788fdae-c690-5563-abac-18b51e4d210f';
UPDATE public.team SET plan_id = 24 WHERE id = '177ae72e-41a6-5325-80d6-452827ea5918';
UPDATE public.team SET plan_id = 24 WHERE id = 'c0a2f5c4-7781-5310-ad3c-e7b9f41a7ace';
UPDATE public.team SET plan_id = 24 WHERE id = '71c019c0-f4c8-51ac-bfff-4141eabf85f3';
UPDATE public.team SET plan_id = 24 WHERE id = 'ab4eb860-b9b9-58f5-84c6-b76a08d23dfd';
UPDATE public.team SET plan_id = 24 WHERE id = 'dd9140ad-b92d-5673-a8c2-8b1c4e3e8697';
UPDATE public.team SET plan_id = 24 WHERE id = '78de8c0c-fe2d-50bd-afca-68bed9f87cd0';
UPDATE public.team SET plan_id = 24 WHERE id = '81e51b22-aab8-5050-a735-aa5917f8771b';
UPDATE public.team SET plan_id = 24 WHERE id = 'f6cb58dd-a0aa-5d2b-8ce5-200e44be4f36';
UPDATE public.team SET plan_id = 24 WHERE id = '48ed64cc-01ce-5cc6-8ffd-8d552f857570';
UPDATE public.team SET plan_id = 24 WHERE id = '0cb21e27-1e4d-50c9-bd0d-f6696d98b44c';
UPDATE public.team SET plan_id = 24 WHERE id = '29d37d99-954e-5434-8e90-9d564d65e434';
SELECT setval('"public"."plan_id_seq"'::regclass, (SELECT MAX("id") FROM "public"."plan"));
SELECT setval('"public"."arena_id_seq"'::regclass, (SELECT MAX("id") FROM "public"."arena"));
INSERT INTO public.team_member_role (id,name,flags) VALUES (22, 'owner', 255), (23, 'editor', 7), (24, 'viewer', 1);
SELECT setval('"public"."team_member_role_id_seq"'::regclass, (SELECT MAX("id") FROM "public"."team_member_role"));
